body { 
    background-color: #F8B25E;
    font-family: 'Noto Serif', serif;
}

#canvas {
    overflow:hidden;
    background-color: #FFFFFF;
    position: fixed;
    top: 15%;
    left: 20%;
    border: solid 5px;
    border-radius: 21px 28px 28px 28px;
    border-color: #246355;
}

#points {
    background-color: #FFFFFF;
    position: fixed;
    top: 15%;
    left: 1%;
    border: solid 5px;
    height: 60%;
    width: 15%;
    border-radius: 21px 28px 28px 28px;
    border-color: #246355;
    margin-right: 5%
}

#letrero {
    position: fixed;
    top: 1%;
    left: 30%;
	height: 65px;
    width: 500px;
}


.chat {
    background-color: #FFFFFF;
    position: fixed;
    top: 15%;
    left: 72%;
    border: solid 5px;
    height: 60%;
    width: 25%;
    border-radius: 21px 28px 28px 28px;
    font-family: 'Noto Serif', serif;
    border-color: #246355;
}



.buttonsBlock {
    background-color: #FFFFFF;
    position: fixed;
    top: 74%;
    left: 81%;
    height: 110px;
    width: 225px;
    border-radius: 21px 28px 28px 28px;
    font-family: 'Noto Serif', serif;
}

.button {
    margin: 10px;
    font-family: 'Noto Serif', serif;
}
#html5colorpicker {

}
.scrollableBox {
    word-wrap: break-word;
    overflow: auto;
    max-height: 95%;
    padding: 5px;
}

.myPlayer {
    color: green;
    font-family: 'Noto Serif', serif;
}

.otherPlayer{
    color: red;
}

#word{
    position: relative;
    text-align: center;
    font-size: 20px;
    color:#246355;
    font-weight: bold;
}
.titulo{
    font-family: 'Noto Serif', serif;
    margin-left: 80px;
}
.user{
    margin-bottom: 200px;
}
.icono{
    width: 50%;
}
table{
	background-color: white;
	text-align: center;
}
th, td{
}
tr{
    height: 10%
}
thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}
#countdown{
    font-size: 20px;
    color:#246355;
    font-weight: bold;
}
#main{
    margin-top: 50%;
}

.leave {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.leave:hover {background-color: #3e8e41}

.leave:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 100%; 
  height: 50%;
  background-image: url("Fin.jfif");
  
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
