body { 
    background-color: #F8B25E;
    font-family: 'Noto Serif', serif;
}

#canvas {
    overflow:hidden;
	background-color: #FFFFFF;
    position: fixed;
    top: 10%;
    left: 20%;
    border: solid 5px;
    height: 550px;
    width: 760px;
    border-radius: 21px 28px 28px 28px;
    border-color: #246355;
}

#points {
	background-color: #FFFFFF;
    position: fixed;
    top: 10%;
    left: 1%;
    border: solid 5px;
    height: 550px;
    width: 225px;
    border-radius: 21px 28px 28px 28px;
    border-color: #246355;
}

#letrero {
    position: fixed;
    top: 1%;
    left: 30%;
	height: 65px;
    width: 500px;
}


.chat {
	background-color: #FFFFFF;
    position: fixed;
    top: 10%;
    left: 71%;
    border: solid 5px;
    height: 550px;
    width: 325px;
    border-radius: 21px 28px 28px 28px;
    font-family: 'Noto Serif', serif;
    border-color: #246355;
}



.buttonsBlock {
    background-color: #FFFFFF;
    position: fixed;
    top: 74%;
    left: 81%;
    height: 110px;
    width: 225px;
    border-radius: 21px 28px 28px 28px;
    font-family: 'Noto Serif', serif;
}

.button {
    margin: 10px;
    font-family: 'Noto Serif', serif;
}
#html5colorpicker {

}
.scrollableBox {
    word-wrap: break-word;
    overflow: auto;
    max-height: 95%;
    padding: 5px;
}

.myPlayer {
    color: green;
    font-family: 'Noto Serif', serif;
}

.otherPlayer{
    color: red;
}
#relojBox {
    padding-bottom: 5px;
    margin-left: 100px;
}

#reloj {
    font-size: 2.6em;
    color: red;
}
#wordToGuess {
    display: inline-block;
}
.titulo{
    font-family: 'Noto Serif', serif;
    margin-left: 80px;
}
.user{
    margin-bottom: 200px;
}
