body { 
    background-color: #F8B25E;
 }

div.centrado {
    text-align: center;
}
button
{
    margin-top: 1%;
    background-color:#246355 ;
    color: white;
    font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 12px;
}
button.btn{
  margin-top: 10%;
}
img
{
  margin-top: 5%;
}