body { 
    background-color: #F8B25E;
    font-family: 'Noto Serif', serif;
 }

div.centrado {
    text-align: center;
    margin-top: 5%;
    font-family: 'Noto Serif', serif;
}
button
{
    margin-top: 1%;
    background-color:#246355 ;
    color: white;
    font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 12px;
  font-family: 'Noto Serif', serif;
}
input.btn
{
  margin-top: 5%;
}
img
{
  margin-top: 5%;
}

label{
  color: #246355;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Noto Serif', serif;
}
select
{
  background-color: #246355 ;
  color: white;
  font-size: 17px;
}
input{
  background-color:#246355 ;
  color: white;
  font-size: 17px;
  font-family: 'Noto Serif', serif;
}
.Numj{
    width: 20%
    
}
.Nombre{
    width: 20%
}
::placeholder{
    text-align: center;
    color: white;
    opacity: 65%;
}
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

